<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pixelsurvivor.mapper.UserItemMapper">

    <select id="selectUserItemPage" resultType="com.pixelsurvivor.entity.vo.UserItemVO">
        SELECT
        ui.id,
        ui.user_id AS userId,
        u.username,
        ui.item_code AS itemCode,
        si.item_code AS itemName,
        NULL AS itemType,
        ui.quantity,
        ui.is_equipped AS isEquipped,
        ui.acquired_at AS acquiredAt
        FROM t_user_item ui
        LEFT JOIN t_user u ON ui.user_id = u.id
        LEFT JOIN t_shop_item si ON ui.item_code = si.item_code
        <where>
            <if test="username != null and username != ''">
                AND u.username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="itemName != null and itemName != ''">
                AND si.item_code LIKE CONCAT('%', #{itemName}, '%')
            </if>
        </where>
        ORDER BY ui.acquired_at DESC
    </select>

</mapper>